/*import for Google Font Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/*import for Google Font Maname*/
@import url('https://fonts.googleapis.com/css2?family=Maname&family=Poppins:wght@500&display=swap');

/*Asterix wildcard selector to overide the default browser styles*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/*General styles*/
body {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

header {
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 3px #606060;
    background-color: #4a5123;
    height: 50px;
    padding: 20px, 0, 20px;
    color: #FFFFFF;
}

header a {
    text-decoration: none;
    color: #FFFFFF;
}

/*Heading styles*/
h1 {
    font-family: "Maname", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

/*Subheading Styles*/
h2 {
    font-family: "Maname", serif;
    font-weight: 400;
    font-style: normal;
}

/*Hides the heading so that it remains for search engines but not visible*/
.hidden-heading {
    display: none;
}

/*The Scale Image*/
#hero-img {
    width: 100%;
    height: 500px;
    position: relative;
    margin-top: 53px;
}

/*Div containing the Welcome Paragraph*/
#welcome-page {
    background-color: #996515;
    border: 1px, solid, #000000;
    padding: 10px;
}

/*The Welcome Paragraph*/
#welcome-page p {
    text-align: center;
}

/*Div containing the Start Button*/
#start-container {

    padding: 20px;
    display: flex;
    justify-content: center;
}

/*The Start Button*/
#start-button {
    padding: 10px;
    width: fit-content;
}

/* The Instructions Accordion Tab*/
/*Taken from W3Schools https://www.w3schools.com/howto/howto_js_accordion.asp*/
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #996515;
    color: #000000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-top: 53px;
    box-shadow: 0 3px #606060;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
    background-color: #996515;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    text-align: center;
    padding: 0px 18px;
    background-color: #996515;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    box-shadow: 0 3px #606060;
}

.panel p {
    padding: 10px;
}

/*The + symbol when the accordion is closed*/
.accordion:after {
    /* Unicode character for "plus" sign (+) */
    content: '\02795';
    font-size: 13px;
    color: #996515;
    float: right;
    margin-left: 5px;
}

/*The - symbol when the accordion is open */
.active:after {
    /* Unicode character for "minus" sign (-) */
    content: "\2796";
}

/*Div Containing the conversion tool*/
#calculator {
    margin: 0 5px;
    height: 350px;
}

#calculator h3 {
    margin-top: 10px;
    text-align: center;

}

/*The div containing the options buttons*/
.buttons {
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

/* Styling for the options buttons, start and submit button 
from https://getcssscan.com/css-buttons-examples*/
.button-29 {
    width: 150px;
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #9a351e 0, #dd2d2d 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 15px;
}

.button-29:focus {
    box-shadow: #996515 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #9f7509 0 -3px 0 inset;
}

.button-29:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #996515 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-29:active {
    box-shadow: #996515 0 3px 7px inset;
    transform: translateY(2px);
}


/*Div containing the input box*/
.input-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
}

.input-area label {
    text-align: center;

}

/* Algolia from https://copy-paste-css.com/form-input-text*/
#user-input {
    position: relative;
    cursor: text;
    font-size: 14px;
    line-height: 20px;
    padding: 0 16px;
    height: 48px;
    background-color: #fff;
    border: 1px solid #d6d6e7;
    border-radius: 3px;
    color: rgb(35, 38, 59);
    box-shadow: inset 0 1px 4px 0 rgb(119 122 175 / 30%);
    overflow: hidden;
    transition: all 100ms ease-in-out;
    text-align: center;
    margin: 0px 100px;
}

#user-input:focus {
    border-color: #3c4fe0;
    box-shadow: 0 1px 0 0 rgb(35 38 59 / 5%);
}

/*Div containing the Submit button*/
.submit-area {
    display: flex;
    justify-content: center;
}

/*The Submit Button*/
#submit {
    width: fit-content;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 10px;
    margin: 20px 20px;
}

#output-div p {
    text-align: center;
}

#output-div h3 {
    text-align: center;
}

/*The History Table*/
/*Div containing the Table Subheading*/
#table-header {
    height: fit-content;
    display: flex;
    justify-content: center;
    padding: 10px;

}

/*The History Table*/
#table-div {
    margin: 0px 10px;
}

#history-table {
    width: 100%;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-bottom: 10px;
}

th {
    border-bottom: 2px solid #000000;
}

#history-table td {
    text-align: center;
}

/*Footer*/
/*Footer box*/
footer {
    background-color: #4a5123;

}


/*Box contains all the social links*/
#social-networks {
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0 10%;

}

/*Social Icons*/
.social {
    color: #FFFFFF;
    font-size: 200%;

}

.social:hover {
    color: #9a351e;
}

/*Media query for tablets or larger (768px and up)*/
@media screen and (min-width: 768px) {
    #img-container {
        display: flex;
        justify-content: center;
    }

    #hero-img {

        height: 500px;
        width: fit-content;

    }

    #calculator {
        border: 2px solid #000000;
        box-shadow: 2px 2px #4a5123, -0.5em 0 .4em #996515;
        border-radius: 10px;
        margin: 10px 20px;
        height: 375px;
    }

    #calculator h3 {
        margin-top: 20px;
    }

    .buttons {
        height: 100px;
    }

    #user-input {
        margin: 0px 300px;
    }

    .submit-area {
        margin-top: 30px;
    }

    #history-table {
        
        margin-bottom: 100px;
    }

    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }
}