/*import for Google Font Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/*import for Google Font Maname*/
@import url('https://fonts.googleapis.com/css2?family=Maname&family=Poppins:wght@500&display=swap');

/*Asterix wildcard selector to overide the default browser styles*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General styles*/
body {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

/*Heading styles*/
h1 {
    font-family: "Maname", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

/*Subheading Styles*/
h2 {
    font-family: "Maname", serif;
    font-weight: 400;
    font-style: normal;
}

/*The Title Div */
#title {
    background-color: aquamarine;
    height: 50px;
    padding: 20px, 0, 20px;

}

/*Div containing the Welcome Paragraph*/
#welcome-page {
    background-color: pink;
    border: 1px, solid, #000000;
    padding: 10px;
}

/*The Welcome Paragraph*/
#welcome-page p {
    text-align: center;
}

/*Div containing the Start Button*/
#start-container {
    height: 100px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

/*The Start Button*/
#start-button {
    padding: 10px;
}

/* The Instructions Accordion Tab*/
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/*The + symbol when the accordion is closed*/
.accordion:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

/*The -symbol when the accordion is open */
.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}

/*The Output Table*/
/*Div containing the Table Subheading*/
#table-heading {
    height: fit-content;
    display: flex;
    justify-content: center;
    padding: 10px;
}

/*The History Table*/
#history-table {
    width: 100%;
    border: 1px, solid, #000000;
}



/*The Submit Button*/
#submit {
    width: fit-content;
    padding-right: 10px;
    padding-left: 10px;
}

/*The div containing the options buttons*/
.buttons {
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

/* Styling for the options buttons and submit button 
from https://getcssscan.com/css-buttons-examples*/
.button-29 {
    width: 150px;
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 15px;
}

.button-29:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-29:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}


/*Div containing the input box*/
.input-area {
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

/*Div containing the Submit button*/
.submit-area {
    height: 70px;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}



