/*import for Google Font Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/*import for Google Font Maname*/
@import url('https://fonts.googleapis.com/css2?family=Maname&family=Poppins:wght@500&display=swap');

body {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

h1 {
    font-family: "Maname", serif;
    font-weight: 400;
    font-style: normal;
    background-color: aquamarine;
}
h2 {
    font-family: "Maname", serif;
    font-weight: 400;
    font-style: normal;
}

#welcome-page {
    background-color: pink;
    border: 1px, solid, #000000;
    
}